# ========================
# Java & Maven
# ========================
target/
*.class
*.jar
*.war
*.iml

# Logs
logs/
*.log
/log/

# IDEs
.idea/
*.iws
*.ipr
*.bak
*.swp

# VS Code
.vscode/

# OS system files
.DS_Store
Thumbs.db

# Maven
.mvn/
!**/src/main/**/mvnw*

# IntelliJ specific
out/
*.tmp
*.orig
